.historia{
width: 70%;
text-align: justify;
line-height: 2;
display: flex;
flex-direction: column;
align-items: center;

}








@media only screen and (max-width: 768px) {
    .historia{
        width: 100%;
        
        line-height: 2;
     
        }
    
  }