.historia{
width: 70%;
text-align: justify;
line-height: 2;
display: flex;
flex-direction: column;
align-items: center;

}

.direccion{
background-color: rgba(255, 255, 255, 0.377);
width: 30%;
line-height: 2;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 1em;
}
.redes{
background-color: rgba(255, 255, 255, 0.377);
width: 35%;
padding: 1em;
border-radius: 1em;
display: flex;
flex-direction: column;
}
.icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;

}
.boxvino{
    background-color: rgba(255, 255, 255, 0.582);
    width: 100%;
    display: flex;
border-radius: 1em;
padding: 0.5em;
    flex-wrap: wrap;
    justify-content: space-around;
}
.vino{
    background-color: rgba(165, 42, 42, 0.473);
    width: 40%;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    border: #E2B141 0.4em;
    border-style: solid;
}



@media only screen and (max-width: 768px) {
    .historia{
        width: 100%;
        
        line-height: 2;
     
        }

        .direccion{

            width: 100%;

            }
            .redes{
                flex-direction: column;
            width: 100%;
margin-top: 1em;
            }
            .icons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;

            }

            .boxvino{
   flex-direction: column;
align-content: center;
            }
            .vino{
width: 95%;
            }
          
            
    
  }