
.menu {
  background-color: beige;
  -webkit-transition: all 2s;
  transition: all 2s;
  width: 100%;
  background-image: url(../img/8.jpg);
  border-radius: 0.5em;
}
.header{
display: flex;
flex-direction: column;
width: 100%;
justify-content: space-between;
align-items: center;
align-content: center;



}
@media screen and (min-width: 600px) {
  .menu {
    display: -webkit-box;
    display: flex;

    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
.menu__item {
  text-decoration: none;
  -webkit-box-flex: 1;
          flex: auto;
  display: block;
  text-align: center;
  line-height: 4rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 0 solid rgba(0, 0, 0, 0.001);
  max-height: 0;
  overflow: hidden;
}
.menu__item:last-child {
  border: 0;
}
@media screen and (min-width: 600px) {
  .menu__item {
    border-bottom: 0;
    line-height: 3;
    max-height: 3rem;
  }
}
.menu__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.mostrar .menu__item {
  max-height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  width: 100%;
}
.mostrarx.toggle-menu:before {
  content: '\00D7';
}

.toggle-menu {
  font-size: .75em;
  cursor: pointer;
  line-height: 3;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  width: 100%;
  justify-content: center;
}
.toggle-menu:before {
  content: "\2630";
  width: 1.5em;
  font-size: 1.8em;
}
@media screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
}
